img {
    width: 100%;
    height: auto;
}
h1 {
    color: #fff;
    font-weight: bold;
}
a{
    background-color: #e50914;
    color: #fff;
    text-decoration: none;
}

a:hover {
    background-color: #e50914;
    color: #fff;
    border: 2px solid #fff;
}